<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detail</title>
    <link rel="stylesheet" href="data.css" />
  </head>
  <body>
    <div id="container">
      <div id="holder">
        <h1><%=name%></h1>
        <table border="1">
          <tr>
            <th rowspan="2">Subject id</th>
            <th colspan="2">Prelims (50)</th>
            <th colspan="2">Terminal (50)</th>
            <th colspan="2">Final (100)</th>
            <th rowspan="2">Total</th>
          </tr>
          <tr>
            <th>Practical (20)</th>
            <th>Theory (30)</th>
            <th>Practical (20)</th>
            <th>Theory (30)</th>
            <th>Practical (30)</th>
            <th>Theory (70)</th>
          </tr>
          <%result.forEach(function (element) {%>
          <tr>
            <td><%=element.sub_name%></td>
            <td><%=element.pre_pr%></td>
            <td><%=element.pre_th%></td>
            <td><%=element.ter_pr%></td>
            <td><%=element.ter_th%></td>
            <td><%=element.fin_pr%></td>
            <td><%=element.fin_th%></td>
            <%var total =
            element.pre_pr+element.pre_th+element.ter_pr+element.ter_th+element.fin_pr+element.fin_th%>

            <td><%=total%></td>
          </tr>
          <% }); %>
        </table>
      </div>
    </div>
  </body>
</html>
